<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util" xmlns:sec="http://www.springframework.org/schema/security" xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd  http://www.springframework.org/schema/security  http://www.springframework.org/schema/security/spring-security.xsd">
    <import resource="spring-data.xml" />
    <sec:http auto-config="true" use-expressions="true">
        <sec:intercept-url pattern="/levyt/uusi" access="hasRole('ROLE_ADMIN')" />
        <sec:intercept-url pattern="/levyt/muokkaa" access="hasRole('ROLE_ADMIN')" />
        <sec:intercept-url pattern="/*" access="permitAll" />
        <sec:form-login login-page="/login" default-target-url="/" authentication-failure-url="/loginfail" />
        <sec:logout logout-success-url="/logout" />
    </sec:http>
    <bean id="encoder" class="org.springframework.security.crypto.password.StandardPasswordEncoder" />
    <sec:authentication-manager>
        <sec:authentication-provider>
            <sec:password-encoder ref="encoder" />
            <sec:jdbc-user-service data-source-ref="dataSource" users-by-username-query="select username, password_encrypted, enabled from levyUser where username=? and enabled = 1" authorities-by-username-query="select u.username, a.role from levyUser u JOIN levyUser_authority ua ON (u.id = ua.levyUser_id) JOIN authority a ON (a.id = ua.authority_id) WHERE u.username = ?" />
        </sec:authentication-provider>
    </sec:authentication-manager>
    <sec:global-method-security pre-post-annotations="enabled" />
</beans>